  <head>
    <title>Foodies | Troubles</title>
  </head>

<div class="global-troubles"></div>
<div class="container">
<div class="background-color">
<h1 class="title-trouble"><%= @trouble.name %></h1>
</div>
</div>

  <div class="fake-container">

    <div class="food-trouble rounded-pill">
      <div>
        <h3>L'impact de la <%= @trouble.name%></h3>
        <h3>sur l'alimentation</h3>
        <div class="paragraphe-trouble">
          <p><%= @trouble.impact %></p>
          <hr width="30%" color="white">
        </div>
      </div>

      <div>
        <h3>Les conseils pour mieux</h3>
        <h3>s'alimenter</h3>
        <div class="paragraphe-trouble">
          <p><%= @trouble.conseils %></p>
          <hr width="30%" color="white">
        </div>
      </div>
  </div>

</div>

<div class="container">

  <br>
  <br>
  <br>

  <h1 class="titre">Commandez les plats qui vous conviennent</h1>

  <br>
  <br>


   <div class="cards-recipes-trouble item">
    <% @trouble.recipes.each do |recipe| %>
      <div class="card-index">
        <%= link_to recipe_path(recipe)do %>
          <%= image_tag recipe.photo_url, id: "image-index"  %>
        <% end %>
        <div class="nom-et-prix">
          <h2 class="recipe-name"><%=recipe.name.capitalize%></h2>
          <p class="para-prix-trouble"><%= humanized_money_with_symbol(recipe.price) %></p>
        </div>
      </div>
    <% end %>
   </div>
</div>
