<div class="container">

<div class="background-color">
<h1><%= @trouble.name%></h1>
</div>
</div>


<div class="food-trouble rounded-pill">

  <div>
    <h3>L'impact de la <%= @trouble.name%></h3>
    <h3>sur l'alimentation</h3>
    <div class="paragraphe-trouble">
      <p><%= @trouble.impact %></p>
      <hr width="30%" color="white">
    </div>
  </div>

  <div>
    <h3>Les conseils pour mieux</h3>
    <h3>s'alimenter</h3>
    <div class="paragraphe-trouble">
      <p><%= @trouble.conseils %></p>
      <hr width="30%" color="white">
    </div>
  </div>

</div>

<div class="container">

  <br>
  <br>
  <br>

  <h1 class="titre">Commandez les plats qui vous conviennent</h1>
  <br>
  <br>

  <div class="cards">


  <% @trouble.recipes.each do |recipe| %>
    <div class="card-trip">
      <%= image_tag recipe.photo_url %>
        <div class="card-trip-infos">
          <h2><%=recipe.name.capitalize%></h2>
          <p>Price: <%= humanized_money_with_symbol(recipe.price) %></p>
          <%= link_to "Commander", recipe_path(recipe), class: "link" %>
        </div>
    </div>
  <% end %>
  </div>

</div>
