
<body>

<div class="global-index">
    <br>
    <br>

    <div class="searchbar ">
      <h2 class="searchbar">Nos Bocaux</h2>
    </div>

    <br>
    <br>
    <br>
</div>


    <div class="searchbar">
        <form action="" class="searchbar" id="search-bar">
            <input class="champ" type="text" placeholder="Rechercher une recette"/>
        </form>
    </div>

    <br>
    <br>

<div class="container-index">

    <div class="filtre-et-recettes">

          <div class="filtres item col-sm-2">
            <h3>Filtrer par</h3>
            <h4>Troubles</h4>
            <p>Chimio</p>
          </div>


          <div class="cards item col-sm-10">

            <% @recipes.each do |recipe| %>
              <div class="card-trip" id="cardindex">
                <%= image_tag recipe.photo_url %>
                  <div class="card-trip-index">
                    <div id="nom-et-prix">
                      <h2 id="recipe-name"><%=recipe.name.capitalize%></h2>
                    </div>
                    <div id="bouton-et-prix">
                    <div>
                      <%= link_to recipe_path(recipe), id: "bouton-commander-index" do %>
                      <%= image_tag "plus.svg", alt: "alttext", id: "plus-bouton-commander-index" %>
                    <% end %>
                    <p id="para-prix"><%= humanized_money_with_symbol(recipe.price) %></p>
                    </div>
                    </div>
                  </div>
              </div>
            <% end %>

          </div>

    </div>

</div>


</body>
