<h1><%= @recipe.name %></h1>
<p><%= @recipe.description %></p>
<p>Amount: <%= humanized_money_with_symbol(@recipe.price) %></p>
<%= link_to "revenir au menu", recipes_path  %>
<%= link_to "commander", new_recipe_order_path(@recipe)  %>
