  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand logo " do %>
    <%= image_tag "logoV2.png" %>
      <% end %>

    <div class="menu-central">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a  href="#">Histoire</a>
          </li>
          <li class="nav-item ">
            <%= link_to "Recettes", recipes_path  %>
<!--             <a class="" href="./recipes">Recettes</a> -->
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="" >Troubles</a>


            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Chimiothérapie", trouble_path(1), class: "dropdown-item" %>
              <%= link_to "Digestion", trouble_path(2), class: "dropdown-item" %>
              <%= link_to "Déglutition", trouble_path(3), class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="connexion">

        <ul class="nav-item dropdown">
            <a class="dropdown-toggle nav-item" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="" >Panier</a>

            <div class="dropdown-menu dropdown-menu-right" id="panier" aria-labelledby="navbarDropdown">
             <li>
                <% if session[:cart].empty? %>
                <p>panier vide</p>
                <% else %>
                <% session[:cart].each do |element|  %>
                  <p >  <%= element["name"] %> -- <%= element["price_cents"] %> $
                  <%= link_to "supprimer", delete_recipe_path(element) %> </p>
                <% end %>
              </li>
             <hr>

                <% @cart = 0 %>
                 <% session[:cart].each do |element| %>
                 <% @cart += element["price_cents"] %>
                 <% end %>
               <p> Total= <%= @cart %> $</p>

              <%= link_to "Valider et commander", new_order_path, class: "btn btn primary" %>

              <% end %>
            </ul>









      <% if user_signed_in? %>

        <li class="nav-item dropdown">


          <%= image_tag "https://media-exp1.licdn.com/dms/image/C5603AQHvPAOmAt9jMg/profile-displayphoto-shrink_200_200/0?e=1585180800&v=beta&t=gnf-hifQs9ddzieqnbecwLZTBGWWpyoH3AGhM0qIGSo",
                        width: 40,
                        height: 40,
                        crop: :fill,
                        class: "avatar-picture dropdown-toggle image",
                        id: "navbarDropdown", data: { toggle: "dropdown" },
                        'aria-haspopup': true,
                        'aria-expanded': false %>


          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profil", profile_path, class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "" %>
          </li>
        <% end %>
         </div>
      </div>
    </div>
  </div>
