<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!--  <title>Foodies | Adaptez votre alimentation</title> -->
    <meta name="description" content="Adaptez votre alimentation en fonction de vos troubles">
    <meta property="og:title" content="Foodies | Adaptez votre alimentation">
    <meta property="og:description" content="Adapter votre alimentation en fonction de vos troubles (chimiothérapie - digestion - déglutition)">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://www.foodies-health.live/">
    <meta property="og:image" content="https://assets.kraftfoods.com/recipe_images/181573-181574.jpg">
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500i,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e8bcc3f751.js" crossorigin="anonymous"></script>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>


